<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/imagens/cabeça.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/imagens/ImagemDoce.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/imagens/Retangulo1.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>