@model RegistroViewModel
<table class="table">
    <tr>
        <td>
        </td>
        <td>
            <div class="row">
                <div class="col-9 col-md-9 col-lg-9 text-danger opacity-50">
                    <h4>Registrar usuário</h4>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <hr/>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName"> </label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nome"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Endereco"></label>
                            <input asp-for="Endereco" class="form-control" />
                            <span asp-validation-for="Endereco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Numero"></label>
                            <input asp-for="Numero" class="form-control" />
                            <span asp-validation-for="Numero" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bairro"></label>
                            <input asp-for="Bairro" class="form-control" />
                            <span asp-validation-for="Bairro" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cidade"></label>
                            <input asp-for="Cidade" class="form-control" />
                            <span asp-validation-for="Cidade" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Estado"></label>
                            <input asp-for="Estado" class="form-control" />
                            <span asp-validation-for="Estado" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cep"></label>
                            <input asp-for="Cep" class="form-control" />
                            <span asp-validation-for="Cep" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 mt-2">
                                <input type="submit" class="btn btn-success " value="Registrar"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>