@model LaDoces2.ViewModel.ItemListViewModel
@{
    ViewData["Title"] = "Cardápio";
}
<partial name="_Carousel"/>
<h1>@Model.CategoriaAtual</h1>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Itens)
        {
            <partial name="_Card" for="@item"></partial>
        }
    </div>
</div>