@model CarrinhoViewModel
@if (Model.Carrinho.CarrinhoItens.Count > 0)
{
    <a asp-controller="Carrinho" asp-action="Index">
        <span>Carrinho</span>
        <span style="color:white">
            @Model.Carrinho.CarrinhoItens.Count
        </span>
    </a>
}