@model CarrinhoViewModel
@if (Model.Carrinho.CarrinhoItens.Count > 0)
{
    <a  class="link-dark text-decoration-none" asp-controller="Carrinho" asp-action="Index">
        <span>Carrinho <i class="bi bi-bag-heart"></i></span>
        <span class="badge btn-rosa text-dark">
            @Model.Carrinho.CarrinhoItens.Count
        </span> 
    </a>
}