<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LaDoces2</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LaDoces2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">

            <div class="container">
                <img src="~/imagens/Group 28 (1).png" alt="" height="42" width="42">
                <a class="navbar-brand ceasar fs-2 col" asp-area="" asp-controller="Home" asp-action="Index">
                    Ladoces

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-5">
                        <li class="nav-item">
                            <a class="nav-link fs-5" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  fs-5" asp-area="Admin" asp-controller="AdminCategoria"
                                asp-action="Index">CATEGORIA</a>
                        </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5" asp-area="Admin" asp-controller="AdminItem"
                                asp-action="Index">ITEM</a>
                        </li>
                        <li>
                            @await Html.PartialAsync("_Login")
                        </li>
                        <li class="nav-item">

                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminRelatorioVendas"
                                asp-action="Index">Relatório vendas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Admin" asp-controller="AdminXml" asp-action="Index">Exportar xml</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="py-3">
                @RenderBody()
            </main>
        </div>



        <footer class="btn-rosa opacity-50 text-light text-center py-3 ">
            <div class="container">

                <p>&copy; 2023 LaDoces - Todos os direitos reservados.</p>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter-x">ㅤSiga em nossas redes sociais</i>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>

</html>